# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# Import data set
pokemon = pd.read_csv(r'/Users/diegoperezo97/Documents/IronHack â€“ Data Analytics Bootcamp/Module 2/Week 4/Day 1/lab-df-calculation-and-transformation/your-code/Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
# Enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# Enter your code here
type_1_2 = pokemon[["Type 1", "Type 2"]].drop_duplicates()
type_1_2

      Type 1  Type 2
0      Grass  Poison
4       Fire     NaN
6       Fire  Flying
7       Fire  Dragon
9      Water     NaN
..       ...     ...
778    Ghost   Grass
790   Flying  Dragon
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[154 rows x 2 columns]

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# Enter your code here
def remove_mega(Name):
    return re.sub('^(.*Mega)', '', Name)

pokemon['Name'] = pokemon['Name'].apply(remove_mega)

# Test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# Enter your code here

pokemon['A/D Ratio'] = round(pokemon['Attack']/pokemon['Defense'], 3)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.077
7,6,Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171
8,6,Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738

### Identify the pokemon with the highest `A/D Ratio`

In [7]:
# Enter your code here

highest_AD_ratio = pokemon[['Name', 'A/D Ratio']].sort_values(by='A/D Ratio', ascending=False).head(1)
highest_AD_ratio

                   Name  A/D Ratio
429  DeoxysAttack Forme        9.0

### Identify the pokemon with the lowest A/D Ratio

In [8]:
# Enter your code here

highest_AD_ratio = pokemon[['Name', 'A/D Ratio']].sort_values(by='A/D Ratio', ascending=True).head(1)
highest_AD_ratio

        Name  A/D Ratio
230  Shuckle      0.043

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [9]:
# Enter your code here

def combo_type(row):
    if str(row['Type 1']).lower() != 'nan' and str(row['Type 2']).lower() != 'nan':
        return str(row['Type 1']) + '-' + str(row['Type 2'])
    elif str(row['Type 1']).lower() != 'nan' and str(row['Type 2']).lower() == 'nan':
        return str(row['Type 1'])
    
pokemon['Combo Type'] = pokemon.apply(combo_type, axis=1)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988,Grass-Poison
3,3,Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.667,Rock-Fairy
796,719,Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.455,Rock-Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833,Psychic-Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.667,Psychic-Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.917,Fire-Water

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [10]:
# Enter your code here

top_5_AD_ratio = pokemon[['Name', 'A/D Ratio']].sort_values(by='A/D Ratio', ascending=False).head(5)
top_5_AD_ratio

                   Name  A/D Ratio
429  DeoxysAttack Forme      9.000
347            Carvanha      4.500
19             Beedrill      3.750
453            Cranidos      3.125
348            Sharpedo      3.000

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [11]:
# Enter your code here
pokemon_merged = pokemon.merge(top_5_AD_ratio, how='inner', on='Name')
top_5_AD_ratio_list = (pokemon_merged[['Name', 'A/D Ratio_x']]).values.tolist()
top_5_AD_ratio_list

[[' Beedrill', 3.75],
 ['Carvanha', 4.5],
 ['Sharpedo', 3.0],
 ['DeoxysAttack Forme', 9.0],
 ['Cranidos', 3.125]]

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [12]:
pokemon_merged.set_index('Combo Type', inplace=True)

In [13]:
# Enter your code here
pokemon.groupby('Combo Type').mean().sort_values(by=['A/D Ratio'],ascending=False)[:4]

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Psychic-Dark,720.000000,680.000000,80.000000,160.0,60.000000,170.000000,130.0,80.000000,6.000000,1.0,2.667
Water-Dark,347.666667,493.833333,69.166667,120.0,65.166667,88.833333,63.5,87.166667,3.166667,0.0,2.292
Ground-Steel,530.000000,508.000000,110.000000,135.0,60.000000,50.000000,65.0,88.000000,5.000000,0.0,2.250
Bug-Ghost,292.000000,236.000000,1.000000,90.0,45.000000,30.000000,30.0,40.000000,3.000000,0.0,2.000